<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>My Website</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>

<div>sup booty</div>
<div>Random number = {{num}}</div>

<a href="{{url_for('blog')}}">Go to blog</a>

        
        <script src="" async defer></script>
    </body>

    <footer>
        <p>
            <div>Copyright year is {{year}}</div>
        </p>
    </footer>
</html>